#!/usr/bin/env bash


#   ------------------------------------------------------------
#   Load aliases
#   ------------------------------------------------------------

#  Largely from: https://natelandau.com/my-mac-osx-bash_profile/
#  and
#  https://github.com/mathiasbynens/dotfiles/blob/master/.aliases

#   -----------------------------
#   1. MAKE TERMINAL BETTER
#   -----------------------------

alias cic='set completion-ignore-case On'   # cic:          Make tab-completion case-insensitive
#alias tw='open -a TextWrangler'            # tw:           Opens file in text wrangler
alias bb='open -a BBEdit'                   # bb:           Opens file in BBEdit
alias ll='ls -FGlAhp --color=auto'          # ll:           Preferred 'ls' implementation
alias f='open -a Finder ./'                 # f:            Opens current directory in MacOS Finder
cd() { builtin cd "$@"; ll; }               # cd:           Always list directory contents upon 'cd'
alias which='type -all'                     # which:        Find executables
alias so='source ~/.bash_profile'           # so:           reloads bash profile
alias path='echo -e ${PATH//:/\\n}'         # path:         Echo all executable Paths
alias cp='cp -iv'                           # cp:           Preferred 'cp' implementation
alias mv='mv -iv'                           # mv:           Preferred 'mv' implementation
alias mkdir='mkdir -pv'                     # mkdir:        Preferred 'mkdir' implementation
alias sz='du -csh * | sort -h'              # sz:           Determine size of all files in dir and order by size
alias sudo='sudo '                          # sudo:          Enable aliases to be sudo’ed
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date' #stopwatch
alias firefox='open /Applications/Firefox.app'   #open firefox

mcd () { mkdir -p "$1" && cd "$1"; }        # mcd:          Makes new Dir and jumps inside
trash () { command mv "$@" ~/.Trash ; }     # trash:        Moves a file to the MacOS trash
ql() { qlmanage -p "$*" >& /dev/null; }    # ql:           Opens any file in MacOS Quicklook Preview
gdir() {                                    # gdir:          Find file using gfind and cd to that directory
 cd "$(dirname "$(mdfind -onlyin ~/Google_Drive/ -name $1 | head -1)")"
 }
mdpdf() {                                   # mdpdf:         Pandoc mdpdf XXXX.md XXXX.pdf
 pandoc --template=default.tex $1 --latex-engine=xelatex -o $2 -V geometry:margin=1in
}

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

#find all git repos
alias gl='find ~/ -not \( -path ~/Library -prune \) -name \.git'

#show all repos on local with changes or repos that need to be pushed to or pulled from github
alias check='source ~/.gitcheck'

#pull all repos that are behind github
alias gpull='source ~/.gitpullall'

#login to seawulf
alias seawulf='ssh -X cyoungflesh@login.seawulf.stonybrook.edu'

#login to sahara
alias sahara='ssh -p 2217 casey@sahara.ecoevo.stonybrook.edu'

#login to pleiades
alias pleiades='ssh cyoungfl@sfe3.nas.nasa.gov'

#login to Xanadu - need to use Pulse Secure to login to VPN when outside UConn: http://vpn.uchc.edu/cam
#need to use 'ssh cyoungflesh@xanadu-submit-int.cam.uchc.edu' if using this VPN
alias xanadu='ssh cyoungflesh@xanadu-submit-ext.cam.uchc.edu'
alias xanadu2='ssh cyoungflesh@hpc-submit-ext.cam.uchc.edu'

#sort by date modified
#ls -ltr


#   ---------------------------
#   2. SEARCHING
#   ---------------------------

alias gfind="mdfind -onlyin ~/Google_Drive/ -name "    # gfind:    Search Google Drive using name
alias cfind="mdfind -onlyin ~/Google_Drive/ -live "    # cfind:    Search Google Drive for contents, not just name
alias afind="sudo mdfind -onlyin ~ -live -name"        # afind:    Search all using name
ufind () { find / -name $1 2>/dev/null ; }             # ufind:    Search everywhere using UNIX `find` - exact match

#   ---------------------------
#   3. NETWORKING
#   ---------------------------

alias myip='curl ifconfig.co ifconfig.co/city ifconfig.co/country'     # myip:         Public facing IP Address
alias netCons='lsof -i'                                                # netCons:      Show all open TCP/IP sockets
alias flushDNS='dscacheutil -flushcache'                               # flushDNS:     Flush out the DNS Cache
alias lsock='sudo /usr/sbin/lsof -i -P'                                # lsock:        Display open sockets
alias lsockU='sudo /usr/sbin/lsof -nP | grep UDP'                      # lsockU:       Display only open UDP sockets
alias lsockT='sudo /usr/sbin/lsof -nP | grep TCP'                      # lsockT:       Display only open TCP sockets
alias openPorts='sudo lsof -i | grep LISTEN'                           # openPorts:    All listening connections
alias showBlocked='sudo ipfw list'                                     # showBlocked:  All ipfw rules inc/ blocked IP


#   ii:  display useful host related informaton
#   -------------------------------------------------------------------
    ii() {
        echo -e "\nYou are logged on ${RED}$HOST"
        echo -e "\nAdditionnal information:$NC " ; uname -a
        echo -e "\n${RED}Users logged on:$NC " ; w -h
        echo -e "\n${RED}Current date :$NC " ; date
        echo -e "\n${RED}Machine stats :$NC " ; uptime
        echo -e "\n${RED}Current network location :$NC " ; scselect
        echo -e "\n${RED}Public facing IP Address :$NC " ;myip
        #echo -e "\n${RED}DNS Configuration:$NC " ; scutil --dns
        echo
    }
    
